extends ../_layouts/base

include ../_modules/content-block/content-block

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.tarjeta-de-regalo
        section.tarjeta-de-regalo__hero
            .tarjeta-de-regalo__hero__column
                +content-block('regala la exclusividad de una', 'Giftcard Placet', '', '', 'white')
            .tarjeta-de-regalo__hero__column
                .tarjeta-de-regalo__hero__image
                    img(src='../images/home/card.png')
    
        section.tarjeta-de-regalo__main
            .tarjeta-de-regalo__main__column.tarjeta-de-regalo__main__column--data
                +content-block('placèt', 'gift card', 'Regala una giftcard PLACET, la cual puedes cargar con el valor que tu elijas.')
                +content-block('','','Las tarjetas de regalo se pueden comprar en la tienda online o se la puedes solicitar a tu Personal Stylist.')
            .tarjeta-de-regalo__main__column.tarjeta-de-regalo__main__column--form
                form.tarjeta-de-regalo__main__form
                    .tarjeta-de-regalo__main__amount
                        .tarjeta-de-regalo__main__wrapper
                            label.tarjeta-de-regalo__main__label elija el valor de su tarjeta de regalo
                        .tarjeta-de-regalo__main__wrapper
                            select.tarjeta-de-regalo__main__dropdown
                                option $ 200,000
                                option $ 300,000
                                option $ 400,000
                    .tarjeta-de-regalo__main__quantity
                        .tarjeta-de-regalo__main__wrapper
                            label.tarjeta-de-regalo__main__label  ¿cunatas tarjetas desea regalar?
                        .tarjeta-de-regalo__main__wrapper.tarjeta-de-regalo__main__wrapper--quantity
                            a.tarjeta-de-regalo__main__arrow.tarjeta-de-regalo__main__arrow--left
                            span.tarjeta-de-regalo__main__value 1
                            a.tarjeta-de-regalo__main__arrow.tarjeta-de-regalo__main__arrow--right
                    button.tarjeta-de-regalo__main__button agregar al carro de compras
