mixin quantity-selector(quantity)
    .quantity-selector
        button.quantity-selector__icon
            i.material-icons keyboard_arrow_left
        span=quantity
        button.quantity-selector__icon
            i.material-icons keyboard_arrow_right
