footer.footer
    .footer__top
        p.footer__suscribe__text Suscríbase para recibir información
        
        form.footer__suscribe
            input.footer__suscribe__input(type='email' placeholder='Ingrese su email')
            button.footer__suscribe__submit
                i.material-icons keyboard_arrow_right

        ul.footer__networks
            li
                a.fa.fa-facebook(href='https://www.facebook.com/' target='_blank')
            li
                a.fa.fa-instagram(href='https://www.instagram.com/' target='_blank')
            li
                a.fa.fa-whatsapp(href='https://web.whatsapp.com/' target='_blank')
    .footer__primary
        .footer__primary__wrapper
            .footer__primary__logo
                img(src='/images/logo-footer.png')
        .footer__primary__contact
            a.footer__link(href='tel:+018000126632', target='_blank') 01800012-MODA
            a.footer__link(href='tel:+018000126632', target='_blank') 018000126632
            a.footer__link(href='https://wa.me/5717458888', target='_blank') Whatsapp +57(1) 745.88.88
            a.footer__link(href='mailto:info@avantgarde.com.co', target='_blank') servicliente@placet.vip
        .footer__primary__container
            .footer__primary__links
                a.footer__link(href='/acerca-de-placet') Acerca de Placèt
                a.footer__link(href='/tienda') Tienda Online
                a.footer__link(href='/beneficios') Beneficios
                a.footer__link(href='/como-funciona') Cómo funciona?
                a.footer__link(href='/marcas') Marcas
                a.footer__link(href='/agende-su-cita') Agende su Cita
            .footer__primary__links
                a.footer__link(href='/tarjeta-de-regalo') GiftCards
                a.footer__link(href='/contacto') Contacto
                a.footer__link(href='#') Mapa del Sitio
                a.footer__link(href='#') Términos y Condiciones
                a.footer__link(href='#') Privacidad
        .footer__primary__qr
            p.footer__text Añádanos a sus contactos
            .footer__primary__qr-image
                img(src='/images/qr-code.png')
            
    .footer__secondary
        p &copy 2019 - Placèt
