footer.footer
    .footer__top
        form.footer__suscribe
            p.footer__suscribe__text Suscríbase para recibir información
            input.footer__suscribe__input(type='email' placeholder='Ingrese su email')
            button.footer__suscribe__submit
        ul.footer__networks
            li
                a.fa.fa-facebook(href='#')
            li
                a.fa.fa-instagram(href='#')
            li
                a.fa.fa-whatsapp(href='#')
    .footer__primary
        .footer__primary__wrapper
            .footer__primary__logo
                img(src='/images/logo-footer.png')
        .footer__primary__contact
            p.footer__text Calle 17A # 42B -59 Bogotá, Colombia
            a.footer__link(href='tel:+5713680909', target='_blank') (+571) 368.0909
            a.footer__link(href='https://wa.me/573002455999', target='_blank') Whatsapp (+57) 300.245.5999
            a.footer__link(href='mailto:info@avantgarde.com.co', target='_blank') info@avantgarde.com.co
        .footer__primary__container
            .footer__primary__links
                a.footer__link(href='#') Acerca de Placèt
                a.footer__link(href='#') Tienda Online
                a.footer__link(href='#') Beneficios
                a.footer__link(href='#') Cómo funciona?
                a.footer__link(href='#') Marcas
                a.footer__link(href='#') Agende su Cita
            .footer__primary__links
                a.footer__link(href='#') GiftCards
                a.footer__link(href='#') Seguimiento de Órdenes
                a.footer__link(href='#') Servicios al Cliente
                a.footer__link(href='#') Contacto
                a.footer__link(href='#') Mapa del Sitio
                a.footer__link(href='#') Términos y Condiciones
                a.footer__link(href='#') Privacidad
        .footer__primary__qr
            p.footer__text Añádanos a sus contactos
            .footer__primary__qr-image
                img(src='/images/qr-code.png')
            
    .footer__secondary
        p &copy 2018 - Placèt
