extends ../_layouts/base

include ../_modules/content-block/content-block

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.contacto
        section.contacto__hero
            .contacto__hero__container
                .contacto__hero__image
                    img(src='../images/contacto/hero.jpg')
                    .contacto__hero__layer
                
                .contacto__hero__data
                    +content-block('', 'contáctenos', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', '', 'white')

        section.contacto__main
            .contacto__main__column.contacto__main__column--data
                +content-block('', 'placèt', 'CI 17a # 42b-59. Bogotá, Colombia.')
                +content-block('', '', '+57(1) 368.0909 / +57(1) 368.3255')

                .contacto__main__qr 
                    p.contacto__main__text añadanos a su lista de contactos
                    .contacto__main__image
                        img(src='../images/qr-code.png')
                .contacto__main__group
                    p.contacto__main__title trabaje con nosotros
                    p.contacto__main__email jobs@placet.vip
                .contacto__main__group
                    p.contacto__main__title necesita ayuda?
                    p.contacto__main__email soporte@placet.vip
                .contacto__main__group
                    p.contacto__main__title todo lo demás
                    p.contacto__main__email hola@placet.vip

            .contacto__main__column.contacto__main__column--form
                .contacto__main__form-title escríbanos sus comentarios
                form.contacto__main__form
                    input.contacto__main__input(type='text', placeholder='Nombre*')
                    input.contacto__main__input(type='email', placeholder='Email*')
                    input.contacto__main__input(type='phone', placeholder='Telefono*')
                    textarea.contacto__main__input.contacto__main__input--comments(type='textarea', placeholder='Comentarios*', id='comments', name='comments')
                button.contacto__main__input.contacto__main__input--button enviar
                p.contacto__main__note *Campos obligatorios
        section.contacto__map
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.3257731742233!2d-58.45196358530883!3d-34.545306180474704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb43ae6018ddf%3A0x3d7f60a75bfa308a!2sEstadio+Monumental+Antonio+Vespucio+Liberti!5e0!3m2!1ses-419!2sar!4v1541084585328')

            
