extends ../_layouts/base

include ../_modules/content-block/content-block
include ../_modules/play-button/play-button
include ../_modules/video-overlay/video-overlay

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.how-it-works
        section.how-it-works__hero.js-video-parent
            .how-it-works__hero__container
                .how-it-works__hero__image
                    img(src='../images/how-it-works/hero.jpg')
                    .how-it-works__hero__layer
            +video-overlay

            .how-it-works__hero__wrapper
                +play-button('big')
                .how-it-works__hero__data
                    +content-block('', 'cómo funciona placèt', '', '', 'white')
            
        p.how-it-works__appoinment__comment Su contextura puede revelar su talla, pero su estilo es algo personal que define usted.<br><br>Con PLACET, le ayudamos con ambos.  Nuestra calidad y satisfacción al cliente es lo más importante.  Como parte de la experiencia PLACET contara con un personal stylist, un servicio personalizado que le ayudara con consejos de moda, después de haber conocido sus gustos.  Al igual que atender sus necesidades en cuanto a estilo, sabemos lo importante que es vestirse con el ajuste indicado, que será garantizado por  nuestros sastres certificados y entregado directamente a donde usted elija.
        section.how-it-works__appoinment
            .how-it-works__appoinment__container
                .how-it-works__appoinment__data
                    +content-block('', 'primera cita', 'Comienza la experiencia PLACET con la visita de un equipo que estará a tu disposición y nos ayudara a conocerte para entender tu estilo y fit que requieras.  El equipo consiste de un sastre certificado que tomara tus medidas, con el fin de asegurarte la talla que mejor corresponde a tu cuerpo y una personal stylist que te apoyara en seleccionar prendas según tu estilo.', {'text':'agende su cita', 'url':'/agende-su-cita'})
                .how-it-works__appoinment__image
            .how-it-works__appoinment__container
                .how-it-works__appoinment__image
                .how-it-works__appoinment__data
                    +content-block('', 'segunda cita', 'En esta ocasión, tu equipo personalizado, te llevara las prendas preseleccionadas, con el fin de que puedas medirte y escoger las prendas que mas te gustaron.  Si se requiere, el sastre tomara las medidas para hacer los últimos ajustes, de no ser necesario, en esta cita se termina el proceso.', {'text':'agende su cita', 'url':'/agende-su-cita'})
            .how-it-works__appoinment__container
                .how-it-works__appoinment__data
                    +content-block('', 'tercera cita', 'Con la entrega de los productos, finaliza tu primera experiencia PLACET a tu gran satisfacción,  convencidos de que serás miembro activo del CLUB PLACET.', {'text':'agende su cita', 'url':'/agende-su-cita'})
                .how-it-works__appoinment__image
            .how-it-works__appoinment__container
                .how-it-works__appoinment__image
                .how-it-works__appoinment__data
                    +content-block('', 'garantia de satisfacción', 'Garantizamos 100% satisfacción, tanto en nuestro producto, como en tu experiencia PLACET.', {'text':'agende su cita', 'url':'/agende-su-cita'},  'white')
            
