extends ../_layouts/base

include ../_modules/content-block/content-block
include ../_modules/play-button/play-button
include ../_modules/video-overlay/video-overlay

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.how-it-works
        section.how-it-works__hero.js-video-parent
            .how-it-works__hero__container
                .how-it-works__hero__image
                    img(src='../images/how-it-works/hero.jpg')
                    .how-it-works__hero__layer
            +video-overlay

            .how-it-works__hero__wrapper
                +play-button('big')
                .how-it-works__hero__data
                    +content-block('', 'cómo funciona placèt', '', '', 'white')
            
        p.how-it-works__appoinment__comment Su contextura puede revelar su talla, pero su estilo es algo personal que define usted.<br><br>Con PLACET, le ayudamos con ambos.  Nuestra calidad y satisfacción al cliente es lo más importante.  Como parte de la experiencia PLACET contara con un personal stylist, un servicio personalizado que le ayudara con consejos de moda, después de haber conocido sus gustos.  Al igual que atender sus necesidades en cuanto a estilo, sabemos lo importante que es vestirse con el ajuste indicado, que será garantizado por  nuestros sastres certificados y entregado directamente a donde usted elija.
        section.how-it-works__appoinment
            .how-it-works__appoinment__container
                .how-it-works__appoinment__data
                    +content-block('', 'primera cita', 'Para Plácet lo mas importante es su comodidad. Por eso nuestros expertos  en imagen y estilo de hombre lo visitaran en su casa u oficina a la hora que  decida. El propósito es conocer sus hábitos y gustos para que preseleccione las prendas coherentes con su estilo de vida.', {'text':'agende su cita', 'url':'/agende-su-cita'})
                .how-it-works__appoinment__image
            .how-it-works__appoinment__container
                .how-it-works__appoinment__image
                .how-it-works__appoinment__data
                    +content-block('', 'segunda cita', 'Llevaremos las prendas escogidas para evaluar que se ajusten naturalmente a su cuerpo y gustos. Solo seleccionara las prendas que le gusten.', {'text':'agende su cita', 'url':'/agende-su-cita'})
            .how-it-works__appoinment__container
                .how-it-works__appoinment__data
                    +content-block('', 'tercera cita', 'Entregamos sus prendas cuando quiera y donde quiera para que las disfrute.', {'text':'agende su cita', 'url':'/agende-su-cita'})
                .how-it-works__appoinment__image
            .how-it-works__appoinment__container
                .how-it-works__appoinment__image
                .how-it-works__appoinment__data
                    +content-block('', 'garantia de satisfacción', 'Garantizamos completamente los productos y su experiencia PLACÉT.', {'text':'agende su cita', 'url':'/agende-su-cita'},  'white')
            
