extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.appoinment
        section.appoinment__hero
            .appoinment__hero__container
                .appoinment__hero__image
                    img(src='../images/agende-su-cita/hero.jpg')
                    .appoinment__hero__layer
                
                .appoinment__hero__data
                    +content-block('', 'agende su cita', 'con un Personal Stylist', '', 'white')
    
        p.appoinment__comment El primer paso para disfrutar de los beneficios de PLACÈT, es agendar una cita con un Personal Stylist, en el horario y lugar que más le convenga
    
        section.appoinment__form
            .appoinment__form__select
                p.appoinment__form__shopper Opción de Personal Stylist
                select.appoinment__form__selector.appoinment__form__selector--shopper
                    option.appoinment__form__option(value='') Personal Stylist
                    option.appoinment__form__option(value='0') Carlos
                    option.appoinment__form__option(value='1') Cesar
                    option.appoinment__form__option(value='2') Miguel
            .appoinment__form__container
                .appoinment__form__col
                    .appoinment__form__data
                        +content-block('', '1', 'Por favor elija una fecha para su cita', '', '', '', '',  'false')
                    .appoinment__form__calendar
                        input#date(type="hidden", name="date")
                        #monthPicker.monthly

                .appoinment__form__col
                    .appoinment__form__data
                        +content-block('', '2', 'Ahora elija el horario para su cita', '', '', '', '', 'false')
                    select.appoinment__form__selector 
                        option.appoinment__form__option(value='') Turno
                        option.appoinment__form__option(value='0') Mañana
                        option.appoinment__form__option(value='1') Tarde
                        option.appoinment__form__option(value='2') Noche
                    select.appoinment__form__selector 
                        option.appoinment__form__option(value='') Horario
                        option.appoinment__form__option(value='0') 8:00AM - 12:00PM
                        option.appoinment__form__option(value='1') 12:00PM - 4:00PM
                        option.appoinment__form__option(value='2') 4:00PM - 8:00PM

                .appoinment__form__col
                    .appoinment__form__data
                        +content-block('', '3', 'Indíquenos el lugar de su cita', '', '', '', '', 'false')
                    p.appoinment__form__text Tenemos registrada esta dirección:
                    span.appoinment__form__registered-address Calle 100 # 13-20, Bogotá
                    .appoinment__form__wrapper
                        input.appoinment__form__input(type='radio', name='option', id='option1')
                        label.appoinment__form__label(for='option1')
                        p.appoinment__form__info Si, deseo ser visitado en esta dirección
                    .appoinment__form__wrapper
                        input.appoinment__form__input(type='radio', name='option', id='option2')
                        label.appoinment__form__label(for='option2')
                        p.appoinment__form__info No, deseo que mi visita se haga en la siguiente dirección:
                    input.appoinment__form__address(type='text', placeholder='Dirección')
                    select.appoinment__form__selector
                        option.appoinment__form__option(value='') Ciudad
                        option.appoinment__form__option(value='0') Bogotá
                        option.appoinment__form__option(value='1') Medellín
                        option.appoinment__form__option(value='2') Barranquilla
            button.appoinment__form__address.appoinment__form__address--submit deseo agendar mi cita
block scripts
    script(src= baseUrl + 'scripts/monthly.js')
