extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/content-block/content-block

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.about
        section.about__hero
            .about__hero__layer
            +slider('about__hero__slider')
                each item in site.data.about
                    .about__hero__slide
                        .about__hero__slide__image
                            img(src=item.image)
            .about__hero__data
                +content-block('', '30 años de experiencia', 'en moda masculina', '', 'white')
        
        section.about__main
            .about__main__column
                +content-block('', 'Somos el modelo mas innovador de moda masculina de latinoamerica.','', '', 'white')
            .about__main__column
                p.about__main__text
                    span PLACET nace de esa necesidad que tenemos todos: Tiempo.  Entendemos que el tiempo de nuestros clientes es muy importante y por eso mejorar su calidad de vida es nuestro gran objetivo.
                    br
                    span Llevarle un One-Stop Shopping Experience, con productos y servicios de la mejor calidad, a donde usted necesite, con innovación en servicio de lujo y tecnología.
                    br
                    strong El tiempo es un lujo, y eso es lo que te ofrecemos.
                    br
                    span Con PLACET, estamos disponibles para ti en tu lugar de preferencia, para ayudarte a construir tu vestuario completo.
                    
        section.about__referals
            .about__referals__container
                +content-block('programa de referidos', 'club placèt', 'Pertenece a un exclusivo grupo de personas que comparten el mismo estilo de vida, y al mismo tiempo, gana un 10% de las compras de tus referidos por un año.', {'text':'conozca más', 'url':'/referidos'}, '', '', '', 'true')
            .about__referals__container
                .about__referals__image
                    img(src='../images/about/about-referrals1.png')

        section.about__corporate
            .about__corporate__container
                    +content-block('', 'regalale una giftcard de placèt', '', '', 'white')
                    .about__corporate__giftcard
                        .about__corporate__giftcard__image
                            img(src='../images/home/card.png')
                    +content-block('', '', '', {'text':'ver mas', 'url':'/tarjeta-de-regalo'})

            .about__corporate__container
                .about__corporate__wrapper
                    +content-block('', 'agende su cita', 'Nuestro propósito es conocerte para ayudar a proyectar tu mejor estilo, en el momento y la comodidad del sitio que prefieras.', {'text':'agendar', 'url':'/agende-su-cita'})
                .about__corporate__wrapper
                    .about__corporate__image
                        img(src='../images/home/cta.png')
        section.about__cta
            .about__cta__container
                .about__cta__image
                    img(src='/images/home/cta.png')
            .about__cta__container
                +slider('about__cta__slider')
                    each item in site.data.aboutCtaSlider
                        .about__cta__slide
                            p.about__cta__title &quot;#{item.quote}&quot;
                            p.about__cta__text=item.quoter
                            p.about__cta__text Personal Shopper: #{item.shopper}
        section.about__app
            .about__app__container
                .about__app__image
                    img(src='../images/about/about-app.png')
            .about__app__container
                    +content-block('', 'descargue nuestra app', 'Placet se adapta a las necesidades de nuestros clientes, es por esto que, a través de la APP, podemos seguir innovando y ofreciendo una mejor experiencia. Encuentala en la App Store y en Google Play: PLACET APP', {'text':'app store', 'url':'#'}, '', '', {'text':'google play', 'url':'#'})
