.benefits {
    overflow: hidden;

    &__hero {
        @include mq(sm) {
            justify-content: center;
            align-items: center;
        }

        &__container {
            position: relative;
        }

        &__image {
            @include img($ratio:100%, $imgwidth: auto, $imgheight: 100%);

            @include mq(sm) {
                @include img(40%);
                //
                // position: absolute;
                // top: 0;
                // bottom: 0;
                // left: 0;
                // right:  0;
                // padding-bottom: 0;
                // height: auto;
            }
        }

        &__layer {
            display: none;

            @include mq(sm) {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
                background: transparentize($indigo - #555, .5);
                width: 25vw;
                border-left: .3vw solid $vibrantGolden;
                transform: skew(-20deg);
                left: 85%;
            }
        }

        &__wrapper {

            @include mq(sm) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 18vw;
                left: 50%;
                transform: translate(-50%);
            }

            .play-button {
                position: absolute;
                top: 60vw;
                left: 50%;
                transform: translate(-50%) scale3d(3,3,3);

                @include mq(sm) {
                    position: relative;
                    transform: translate(0) scale3d(1.1,1.1,1.1);
                    top: auto;
                    left: auto;
                }
            }
        }

        &__data {
            background: transparentize($indigo - #555, .5);
            padding: 35px 20px;

            @include mq(sm) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 40vw;
                background: none;
            }

            .content-block {
                &__title {
                    margin-bottom: 0;
                    padding: 0;
                    font-size: 24px;

                    @include mq(sm) {
                        padding-top: 2.5vw;
                        font-size: 2.5vw;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &__main {
        @include mq(sm) {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 2;
        }

        &__col {
            height: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mq(sm) {
                width: 33.33%;
                height: 34vw;

            }

            .content-block {
                &__title {
                    @include mq(sm) {
                        font-size: 2vw;
                    }
                }

                &__text {
                    @include mq(sm) {
                        font-size: 1.1vw;
                    }
                }
            }
            .play-button {
                transform: scale3d(1.5,1.5,1.5);

                @include mq(sm) {
                    transform: scale3d(.5,.5,.5);
                }
            }

            &:nth-child(1) {
                background-color: $lightGray;

                .benefits__main__image {
                    background: url('../images/home/bottom-right-up.jpg');
                }

                .benefits__main__data {
                    padding: 40px 20px;

                    @include mq(sm) {
                        padding: 2vw 6vw;
                    }
                }

            }

            &:nth-child(2) {
                background: url('../images/home/bottom-left-down.jpg') no-repeat;
                background-size: cover;
                background-color: $indigo + #555;
                background-blend-mode: multiply;


                .content-block {
                    padding: 0 80px;
                    @include mq(sm) {
                        padding: 1vw 10vw;
                    }

                    &__title {
                        &:after {
                            background: $vibrantGolden;
                        }
                    }

                    &__text {
                        padding-bottom: 30px;

                        @include mq(sm) {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            &:nth-child(3) {
                background-color: $lightestGray;

                .benefits__main__image {
                    background: url('../images/home/bottom-right-up.jpg');
                }

                .benefits__main__data {
                    padding: 40px 20px;

                    @include mq(sm) {
                        padding: 2vw 6vw;
                    }
                }
            }

            &:nth-child(4) {
                background: url('../images/home/bottom-left-down.jpg') no-repeat;
                background-size: cover;
                background-color: $indigo + #555;
                background-blend-mode: multiply;

                .content-block {
                    padding: 0 80px;
                    @include mq(sm) {
                        padding: 1vw 10vw;
                    }

                    &__text {
                        padding-bottom: 30px;

                        @include mq(sm) {
                            padding-bottom: 0;
                        }
                    }
                }

                .play-button {
                    border-color: $white;

                    span {
                        border-color: $white;
                    }
                }
            }

            &:nth-child(5) {
                background-color: $lightestGray;

                .benefits__main__image {
                    background: url('../images/home/bottom-right-up.jpg');
                }

                .benefits__main__data {
                    padding: 40px 20px;

                    @include mq(sm) {
                        padding: 2vw 6vw;
                    }
                }
            }

            &:nth-child(6) {
            background-color: $lightGray;
            .benefits__main__image {
                background: url('../images/home/bottom-right-up.jpg');
            }

            .benefits__main__data {
                padding: 40px 20px;

                @include mq(sm) {
                    padding: 2vw 6vw;
                }
            }
        }

            &:nth-child(7) {
                background-color: $lightGray;

                .benefits__main__image {
                    background: url('../images/home/bottom-right-up.jpg');
                }

                .benefits__main__data {
                    padding: 40px 20px;

                    @include mq(sm) {
                        padding: 2vw 6vw;
                    }
                }

                .content-block {
                    &__title {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            &:nth-child(8) {
                background-color: $lightestGray;

                .benefits__main__image {
                    background: url('../images/home/bottom-right-up.jpg');
                }

                .benefits__main__data {
                    padding: 40px 20px;

                    @include mq(sm) {
                        padding: 2vw 6vw;
                    }
                }
            }

            &:nth-child(9) {
                background: url('../images/home/bottom-left-down.jpg') no-repeat;
                background-size: cover;
                background-color: $indigo + #555;
                background-blend-mode: multiply;

                .content-block {
                    padding: 0 80px;

                    @include mq(sm) {
                        padding: 1vw 10vw;
                    }

                    &__title {
                        &:after {
                            background: $vibrantGolden;
                        }
                    }

                    &__text {
                        padding-bottom: 30px;

                        @include mq(sm) {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        &__image {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__data {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 4vw;
        }
    }
}
