.testimonios {

    &__hero {
        position: relative;
        overflow: hidden;

        &__layer {
            display: none;

            @include mq(sm) {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
                background: transparentize($indigo - #555, .5);
                width: 25vw;
                border-left: .3vw solid $vibrantGolden;
                transform: skew(-20deg);
                left: 85%;
            }
        }

        &__image {
            @include img($ratio: 100%, $imgwidth: auto, $imgheight: 100%);

            img {
                left: 50%;
                transform: translateX(-50%);

                @include mq(sm) {
                    left: 0;
                    transform: translateX(0);
                }
            }

            @include mq(sm) {
                @include img($ratio: 40%);
            }
        }

        &__data {
            background: transparentize($indigo - #555, .5);
            padding: 35px 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mq(sm) {
                display: block;
                padding: 0;
                position: absolute;
                z-index: 2;
                width: 35vw;
                top: 16vw;
                text-align: center;
                left: 10vw;
                background: none;
            }

            .content-block {
                &__title {
                    margin-bottom: 0;
                    padding: 0;

                    @include mq(sm) {
                        padding-bottom: 1.5vw;
                        font-size: 4vw;
                    }

                    &:after {
                        display: none;
                    }
                }

                &__text {
                    font-size: 14px;

                    @include mq(sm) {
                        font-size: 2vw;
                        letter-spacing: 1.5px;
                        font-weight: 100;
                    }
                }
            }
        }
    }

    &__register {
        &__comment {
            text-align: center;
            color: $indigo;
            font-weight: 500;
            padding: 20px;
            font-size: 16px;
            margin: 0;

            @include mq(sm) {
                padding: 4vw 20vw;
                font-size: 1.4vw;
            }
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $lightestGray;
            flex-direction: column;
            padding: 20px;

            @include mq(sm) {
                padding: 4vw 20vw;
                flex-direction: row;
                justify-content: space-between;

            }
        }

        &__wrapper {
            @include mq(sm) {
                width: 25vw;
            }

            &:first-of-type {
                padding-bottom: 90px;

                @include mq(sm) {
                    padding-bottom: 0;
                }

                &:after {
                    content:'';
                    position: absolute;
                    width: calc(100% - 40px);
                    height: 1px;
                    border-bottom: 1px solid $vibrantGolden;
                    padding-top: 50px;

                    @include mq(sm) {
                        display: none;
                    }
                }
            }

            .content-block {
                &__text {
                    font-weight: 300;
                    font-size: 20px;
                    padding-bottom: 20px;
                    padding-top: 0;

                    @include mq(sm) {
                        padding-bottom: 1vw;
                        font-size: 1.35vw;
                    }
                }

                &__link {
                    color: $vibrantGolden;

                    @include mq(sm) {
                        font-size: 1.2vw;
                    }
                }
            }
        }
    }
}
