extends ../_layouts/base

include ../_modules/content-block/content-block
include ../_modules/slider/slider

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.testimonios
        section.testimonios__hero
            .testimonios__hero__container
                .testimonios__hero__image
                    img(src='../images/testimonios/hero.jpg')
                    //- .testimonios__hero__layer
                
                .testimonios__hero__data
                    +content-block('2 años brindando un gran servicio a', 'nuestros clientes', '', '', 'white')
        section.testimonios__interstitial
            p.testimonios__interstitial__text Lo que dicen nuestros clientes acerca de Placèt
        section.testimonios__list
            +slider('testimonios__slider', 'multi')
                .testimonios__slide
                    .testimonios__card
                        p.testimonios__card__quote “Sara es excepcional en su trabajo y vale cada minuto. Tiene un ojo meticuloso al detalle y es una Personal Shopper perfeccionista que siempre está dispuesta a hacer ese esfuerzo adicional para sus clientes”
                        p.testimonios__card__author Carlos Raúl Yepes, Ex-Presidente Bancolombia
                        span.testimonios__card__divider
                        .testimonios__card__image
                            img(src="/images/testimonios/person-1.png")
                        +content-block('Personal Shopper', 'Margarita Reina', '', '')

                .testimonios__slide
                    .testimonios__card
                        p.testimonios__card__quote “Sara es excepcional en su trabajo y vale cada minuto. Tiene un ojo meticuloso al detalle y es una Personal Shopper perfeccionista que siempre está dispuesta a hacer ese esfuerzo adicional para sus clientes”
                        p.testimonios__card__author Carlos Raúl Yepes, Ex-Presidente Bancolombia
                        span.testimonios__card__divider
                        .testimonios__card__image
                            img(src="/images/testimonios/person-2.png")
                        +content-block('Personal Shopper', 'Maria Higgins', '', '')

                .testimonios__slide
                    .testimonios__card
                        p.testimonios__card__quote “Sara es excepcional en su trabajo y vale cada minuto. Tiene un ojo meticuloso al detalle y es una Personal Shopper perfeccionista que siempre está dispuesta a hacer ese esfuerzo adicional para sus clientes”
                        p.testimonios__card__author Carlos Raúl Yepes, Ex-Presidente Bancolombia
                        span.testimonios__card__divider
                        .testimonios__card__image
                            img(src="/images/testimonios/person-3.png")
                        +content-block('Personal Shopper', 'Sonia Estrada', '', '')
