mixin related-products()
    .related-products
        .related-products__wrapper
            +product('../images/tienda/product-1.jpg', 'Vestido Cerruti Gris', '$944.000')
        .related-products__wrapper
            +product('../images/tienda/product-2.jpg', 'Vestido Austin Azul', '$1.144.500')
        .related-products__wrapper
            +product('../images/tienda/product-3.jpg', 'Vestido Cerruti Reed', '$944.000')
