mixin product(imageSrc, name, amount, type)
    a(href="/#{type}")
        .product
            .product__image
                img(src=imageSrc)
            .product__description
                h3.product__name=name 
                span.product__price=amount
