extends ../_layouts/base

include ../_modules/content-block/content-block
include ../_modules/play-button/play-button
include ../_modules/video-overlay/video-overlay

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.benefits
        section.benefits__hero.js-video-parent
            .benefits__hero__container
                .benefits__hero__image
                    img(src='../images/benefits/benefits-hero.jpg')
                    .benefits__hero__layer
            +video-overlay

            .benefits__hero__wrapper
                +play-button('big')
                .benefits__hero__data
                    +content-block('', 'Conoce los beneficios que PLACET trae para ti…', '', '', 'white')

        section.benefits__main
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'comodidad', 'El cliente puede comprar cuadno quiera y donde quiera.')
            .benefits__main__col.js-video-parent
                +video-overlay
                +content-block('', 'one-stop shopping', 'El cliente puede comprar todo el surtido de prendas formales, informales, y accesorios en un solo punto.', '', 'white')
                +play-button
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'amplio surtido', 'Mas de 1,600 items individuales, y mas de 150 combinaciones listas para comprar.')
            .benefits__main__col.js-video-parent
                .benefits__main__layer
                +video-overlay
                +content-block('', 'tallas perfectas para usted', 'No son solo tallas 32 a 48. Son tallas Custom Fit, con una precision del 90% al 95% de ajuste al cuerpo del cliente.', '', 'white')
                +play-button('', 'white')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'plataforma personalizada', 'Tanto en gusto como en tallas.')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'asesoría personalizada', 'Personal shoppers.')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'relacion precio calidad')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'haga su propio mix & match', 'Para probar combinaciones de ropa.')
            .benefits__main__col.js-video-parent
                +video-overlay
                +content-block('', 'garantia total de satisfacción', 'Si usted no se encuentra totalmente satisfecho con su prenda, le reintegramos el 100% de su dinero.', '', 'white')
                +play-button
