extends ../_layouts/base

include ../_modules/content-block/content-block
include ../_modules/play-button/play-button
include ../_modules/video-overlay/video-overlay

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.benefits
        section.benefits__hero.js-video-parent
            .benefits__hero__container
                .benefits__hero__image
                    img(src='../images/benefits/benefits-hero.jpg')
                    .benefits__hero__layer
            +video-overlay

            .benefits__hero__wrapper
                +play-button('big')
                .benefits__hero__data
                    +content-block('', 'Conoce los beneficios que PLACET trae para ti', '', '', 'white')

        section.benefits__main
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'comodidad', 'La posibilidad de tener toda la experiencia PLACET desde la comodidad de su casa, oficina, o donde usted quiera, en horarios que se ajusan a su necesidad.')
            .benefits__main__col.js-video-parent
                +video-overlay
                +content-block('', 'one-stop shopping', 'Todo lo que usted necesita para vestirse, lo encuentra en la experiencia PLACET.', '', 'white')
                +play-button
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'amplio surtido', 'Te ofrecemos una variedad de mas de 3000 prendas, logrando que el look que elijas sea unico y exclusivo.')
            .benefits__main__col.js-video-parent
                .benefits__main__layer
                +video-overlay
                +content-block('','Tienda Online' , 'Cuentas con la posibilidad de hacer tus compras online, desde un sitio web o a través de nuestra app.', '', 'white')
                +play-button('', 'white')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'CUSTOME FIT', 'Como parte de la experiencia PLACET, cuentas con un sastre certificado, que garantiza un ajuste a las medidas que tu cuerpo requiere.')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'personal shopper', 'Cuentas con un equipo para que tengas una experiencia de lujo, con asesoría personalizada.')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'precio calidad', 'Ser miembro del Club PLACET te da muchos beneficios, sin que te cueste mas.')
            .benefits__main__col.js-video-parent
                .benefits__main__image
                    +video-overlay
                    +play-button
                .benefits__main__data
                    +content-block('', 'mix & match', 'Con nuestra propuesta innovadora mix and match, única en el mercado, puedes combinar diferentes prendas para armar el look indicado, para tu estilo, en cada ocasión.')
            .benefits__main__col.js-video-parent
                +video-overlay
                +content-block('', 'Calidad', 'Garantia total de satisfaccion. Tanto en nuestro producto, como en su experiencia PLACET.', '', 'white')
                +play-button
