mixin slider(klass, mode)
    if mode == 'multi'
        ._slidermulti(class=klass)
            if block
                block
    else
        ._slider(class=klass)
            if block
                block
